@import "definitions.less";

/* Comic page */
div.comic-page-widget {
	img.comic-img {.columns(6);}
	h1.page-title {.text-padding; background: @ll; .buffered;}
	h2.transcript-title {.text-padding;}
	p.comic-text {.text-padding; .spaced(4);}
	hr {display: none;}
	div.ad-container {
		text-align: center;
		div.ad {display: inline-block;}
	}
	div.page-transcript {
		h2 {
			text-align: center;
			&:hover {text-decoration: underline;}
		}
		p.page-transcript{
			border: dashed 1px; .buffered; .spaced(1); .columns(3); .columnSkip(1.5); font-size: small;
			strong {font-size: small;}
		}
	}
}

/* Nav links */
ul.comic-nav-links {
	.columnsWidth(6); .rows(1); margin: auto; .spaced(1);
	&:last-child {.spaced(0);}
	li {
		.columns(0.5); .rows(1); background: @hl; .spaced(1);
		&:first-child{.columnSkip(1);}
		&.arc-page-list {
			.columns(2); background: none;
			a {
				display: block; padding: 8px; text-decoration: none;
				&:hover {text-decoration: underline;}
			}
			select {
				width: 100%; .rows(1); text-align: center;
				option {
					padding: 8px;
					&:first-child {text-align: center; background: @ll;}
				}
			}
		}
		&.arc-link {.columns(1);}
		a {display: block; width: 100%; text-align: center; font-weight: bold; text-decoration: none; padding: 8px;}
	}
}

div.all-arc-links {display: none;}

/* Comic archives */
#archives {
	a {
		text-decoration: none;
		&:hover {text-decoration: underline;}
	}
	h2 {
		.buffered; border-bottom: solid 2px; font-size: 18pt; .spaced(1);
	}
	h3 {
		.buffered; background: @ll;
		.browse-by-subarc {float: right;}
	}
	ul.arc-pages {
		li {
			display: block; float: left; margin: @gutterWidth;
			&:before {content: '[';}
			&:after {content: ']';}
			a {width: 100%; text-decoration: none;}
		}
	}
	ul.sub-arcs {
		clear: both;
	}
}
