.btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
}
.btn-group-sm > .btn {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.btn-toolbar:before,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:before,
.btn-group-vertical > .btn-group:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.pager:before,
.pager:after,
.panel-body:before,
.panel-body:after,
.modal-footer:before,
.modal-footer:after,
div#page:before,
div#page:after,
div#page nav:before,
div#page nav:after {
  content: " ";
  display: table;
}
.container:after,
.container-fluid:after,
.row:after,
.btn-toolbar:after,
.btn-group-vertical > .btn-group:after,
.form-horizontal .form-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.pager:after,
.panel-body:after,
.modal-footer:after,
div#page:after,
div#page nav:after {
  clear: both;
}
div#page {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1108px;
  min-width: 520px;
  margin: auto;
}
div#page > .navbar-header,
div#page > .navbar-collapse {
  margin-right: -15px;
  margin-left: -15px;
}
@media (min-width: 768px) {
  div#page > .navbar-header,
  div#page > .navbar-collapse {
    margin-right: 0;
    margin-left: 0;
  }
}
div#page div#page-header img {
  clear: both;
  display: block;
  max-width: 100%;
  height: auto;
}
div#page nav {
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}
@media (min-width: 768px) {
  div#page nav {
    border-radius: 4px;
  }
}
div#page nav .navbar-brand {
  color: #777777;
}
div#page nav .navbar-brand:hover,
div#page nav .navbar-brand:focus {
  color: #5e5e5e;
  background-color: transparent;
}
div#page nav .navbar-text {
  color: #777777;
}
div#page nav .navbar-nav > li > a {
  color: #777777;
}
div#page nav .navbar-nav > li > a:hover,
div#page nav .navbar-nav > li > a:focus {
  color: #333333;
  background-color: transparent;
}
div#page nav .navbar-nav > .active > a,
div#page nav .navbar-nav > .active > a:hover,
div#page nav .navbar-nav > .active > a:focus {
  color: #555555;
  background-color: #e7e7e7;
}
div#page nav .navbar-nav > .disabled > a,
div#page nav .navbar-nav > .disabled > a:hover,
div#page nav .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
div#page nav .navbar-toggle {
  border-color: #dddddd;
}
div#page nav .navbar-toggle:hover,
div#page nav .navbar-toggle:focus {
  background-color: #dddddd;
}
div#page nav .navbar-toggle .icon-bar {
  background-color: #888888;
}
div#page nav .navbar-collapse,
div#page nav .navbar-form {
  border-color: #e7e7e7;
}
div#page nav .navbar-nav > .open > a,
div#page nav .navbar-nav > .open > a:hover,
div#page nav .navbar-nav > .open > a:focus {
  background-color: #e7e7e7;
  color: #555555;
}
@media (max-width: 767px) {
  div#page nav .navbar-nav .open .dropdown-menu > li > a {
    color: #777777;
  }
  div#page nav .navbar-nav .open .dropdown-menu > li > a:hover,
  div#page nav .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #333333;
    background-color: transparent;
  }
  div#page nav .navbar-nav .open .dropdown-menu > .active > a,
  div#page nav .navbar-nav .open .dropdown-menu > .active > a:hover,
  div#page nav .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #555555;
    background-color: #e7e7e7;
  }
  div#page nav .navbar-nav .open .dropdown-menu > .disabled > a,
  div#page nav .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  div#page nav .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}
div#page nav .navbar-link {
  color: #777777;
}
div#page nav .navbar-link:hover {
  color: #333333;
}
div#page nav .btn-link {
  color: #777777;
}
div#page nav .btn-link:hover,
div#page nav .btn-link:focus {
  color: #333333;
}
div#page nav .btn-link[disabled]:hover,
fieldset[disabled] div#page nav .btn-link:hover,
div#page nav .btn-link[disabled]:focus,
fieldset[disabled] div#page nav .btn-link:focus {
  color: #cccccc;
}
div#page nav div.navbar-header button {
  border-color: #dddddd;
}
div#page nav div.navbar-header button:hover,
div#page nav div.navbar-header button:focus {
  background-color: #dddddd;
}
div#page nav div.navbar-header button .icon-bar {
  background-color: #888888;
}
div#page nav div.navbar-header a {
  color: #777777;
}
div#page nav div.navbar-header a:hover,
div#page nav div.navbar-header a:focus {
  color: #5e5e5e;
  background-color: transparent;
}
div#page nav ul.social-share li a {
  padding-right: 4px;
  padding-left: 4px;
}
div#page nav ul.social-share li a img {
  width: 24px;
}
div#page nav ul.social-share li:last-child a {
  margin-right: 8px;
}
div#page div#right-sidebar a.quick-link {
  font-size: 72pt;
  display: block;
  text-align: center;
}
div#page div#right-sidebar a.quick-link.bookmark i {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
div#page div#right-sidebar a.quick-link.bookmark i:before {
  content: "\e043";
}
div#page div#right-sidebar a.quick-link.continue i {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
div#page div#right-sidebar a.quick-link.continue i:before {
  content: "\e021";
}
div#page div#archives {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 992px) {
  div#page div#archives {
    float: left;
    width: 83.33333333%;
  }
}
div#page div#archives ul.arc-pages {
  list-style-type: none;
  padding: 0;
}
div#page div#archives ul.arc-pages li {
  display: inline-block;
  margin-bottom: 4px;
}
div#page div#archives ul.arc-pages li a {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #333333;
  background-color: #ffffff;
  border-color: #cccccc;
}
div#page div#archives ul.arc-pages li a:focus,
div#page div#archives ul.arc-pages li a:active:focus,
div#page div#archives ul.arc-pages li a.active:focus,
div#page div#archives ul.arc-pages li a.focus,
div#page div#archives ul.arc-pages li a:active.focus,
div#page div#archives ul.arc-pages li a.active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
div#page div#archives ul.arc-pages li a:hover,
div#page div#archives ul.arc-pages li a:focus,
div#page div#archives ul.arc-pages li a.focus {
  color: #333333;
  text-decoration: none;
}
div#page div#archives ul.arc-pages li a:active,
div#page div#archives ul.arc-pages li a.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
div#page div#archives ul.arc-pages li a.disabled,
div#page div#archives ul.arc-pages li a[disabled],
fieldset[disabled] div#page div#archives ul.arc-pages li a {
  cursor: not-allowed;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}
adiv#page div#archives ul.arc-pages li a.disabled,
fieldset[disabled] adiv#page div#archives ul.arc-pages li a {
  pointer-events: none;
}
div#page div#archives ul.arc-pages li a:focus,
div#page div#archives ul.arc-pages li a.focus {
  color: #333333;
  background-color: #e6e6e6;
  border-color: #8c8c8c;
}
div#page div#archives ul.arc-pages li a:hover {
  color: #333333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
div#page div#archives ul.arc-pages li a:active,
div#page div#archives ul.arc-pages li a.active,
.open > .dropdown-togglediv#page div#archives ul.arc-pages li a {
  color: #333333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
div#page div#archives ul.arc-pages li a:active:hover,
div#page div#archives ul.arc-pages li a.active:hover,
.open > .dropdown-togglediv#page div#archives ul.arc-pages li a:hover,
div#page div#archives ul.arc-pages li a:active:focus,
div#page div#archives ul.arc-pages li a.active:focus,
.open > .dropdown-togglediv#page div#archives ul.arc-pages li a:focus,
div#page div#archives ul.arc-pages li a:active.focus,
div#page div#archives ul.arc-pages li a.active.focus,
.open > .dropdown-togglediv#page div#archives ul.arc-pages li a.focus {
  color: #333333;
  background-color: #d4d4d4;
  border-color: #8c8c8c;
}
div#page div#archives ul.arc-pages li a:active,
div#page div#archives ul.arc-pages li a.active,
.open > .dropdown-togglediv#page div#archives ul.arc-pages li a {
  background-image: none;
}
div#page div#archives ul.arc-pages li a.disabled,
div#page div#archives ul.arc-pages li a[disabled],
fieldset[disabled] div#page div#archives ul.arc-pages li a,
div#page div#archives ul.arc-pages li a.disabled:hover,
div#page div#archives ul.arc-pages li a[disabled]:hover,
fieldset[disabled] div#page div#archives ul.arc-pages li a:hover,
div#page div#archives ul.arc-pages li a.disabled:focus,
div#page div#archives ul.arc-pages li a[disabled]:focus,
fieldset[disabled] div#page div#archives ul.arc-pages li a:focus,
div#page div#archives ul.arc-pages li a.disabled.focus,
div#page div#archives ul.arc-pages li a[disabled].focus,
fieldset[disabled] div#page div#archives ul.arc-pages li a.focus,
div#page div#archives ul.arc-pages li a.disabled:active,
div#page div#archives ul.arc-pages li a[disabled]:active,
fieldset[disabled] div#page div#archives ul.arc-pages li a:active,
div#page div#archives ul.arc-pages li a.disabled.active,
div#page div#archives ul.arc-pages li a[disabled].active,
fieldset[disabled] div#page div#archives ul.arc-pages li a.active {
  background-color: #ffffff;
  border-color: #cccccc;
}
div#page div#archives ul.arc-pages li a .badge {
  color: #ffffff;
  background-color: #333333;
}
div#page div#archives ul.sub-arcs {
  list-style-type: none;
  padding: 0;
}
div#page ul.comic-nav-links {
  padding: 0;
}
div#page ul.comic-nav-links li {
  display: inline;
  font-size: xx-large;
  text-align: center;
}
div#page ul.comic-nav-links li i {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
div#page ul.comic-nav-links li.prev-arc-link {
  position: relative;
  float: left;
  width: 41.66666667%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: right;
}
div#page ul.comic-nav-links li.prev-arc-link i:before {
  content: "\e091";
}
div#page ul.comic-nav-links li.first-page-link i {
  position: relative;
  float: left;
  width: 8.33333333%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 25%;
}
div#page ul.comic-nav-links li.first-page-link i:before {
  content: "\e070";
}
div#page ul.comic-nav-links li.prev-page-link i {
  position: relative;
  float: left;
  width: 8.33333333%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
div#page ul.comic-nav-links li.prev-page-link i:before {
  content: "\e091";
}
div#page ul.comic-nav-links li.arc-page-list {
  position: relative;
  float: left;
  width: 16.66666667%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}
div#page ul.comic-nav-links li.arc-page-list i {
  display: none !important;
}
div#page ul.comic-nav-links li.arc-page-list i:before {
  content: "\e118";
}
@media (min-width: 768px) and (max-width: 991px) {
  div#page ul.comic-nav-links li.arc-page-list i {
    display: block !important;
  }
  tablediv#page ul.comic-nav-links li.arc-page-list i {
    display: table !important;
  }
  trdiv#page ul.comic-nav-links li.arc-page-list i {
    display: table-row !important;
  }
  thdiv#page ul.comic-nav-links li.arc-page-list i,
  tddiv#page ul.comic-nav-links li.arc-page-list i {
    display: table-cell !important;
  }
}
@media (max-width: 767px) {
  div#page ul.comic-nav-links li.arc-page-list i {
    display: block !important;
  }
  tablediv#page ul.comic-nav-links li.arc-page-list i {
    display: table !important;
  }
  trdiv#page ul.comic-nav-links li.arc-page-list i {
    display: table-row !important;
  }
  thdiv#page ul.comic-nav-links li.arc-page-list i,
  tddiv#page ul.comic-nav-links li.arc-page-list i {
    display: table-cell !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  div#page ul.comic-nav-links li.arc-page-list span {
    display: none !important;
  }
}
@media (max-width: 767px) {
  div#page ul.comic-nav-links li.arc-page-list span {
    display: none !important;
  }
}
div#page ul.comic-nav-links li.next-page-link i {
  position: relative;
  float: left;
  width: 8.33333333%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
div#page ul.comic-nav-links li.next-page-link i:before {
  content: "\e092";
}
div#page ul.comic-nav-links li.last-page-link i {
  position: relative;
  float: left;
  width: 8.33333333%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
div#page ul.comic-nav-links li.last-page-link i:before {
  content: "\e076";
}
div#page ul.comic-nav-links li.next-arc-link {
  position: relative;
  float: left;
  width: 41.66666667%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: left;
}
div#page ul.comic-nav-links li.next-arc-link i:before {
  content: "\e092";
}
div#page div.archive-dropdown {
  clear: both;
  text-align: center;
  font-size: x-large;
  padding-top: 8px;
  padding-bottom: 8px;
}
div#page div.comic-page-widget {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 992px) {
  div#page div.comic-page-widget {
    float: left;
    width: 83.33333333%;
  }
}
div#page div.comic-page-widget p.page-name {
  text-align: center;
}
div#page div.comic-page-widget img.comic-img {
  display: block;
  max-width: 100%;
  height: auto;
}
div#page div.comic-page-widget div.transcript,
div#page div.comic-page-widget div.commentary {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  div#page div.comic-page-widget div.transcript,
  div#page div.comic-page-widget div.commentary {
    float: left;
    width: 50%;
  }
}
div#page footer {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
div#page footer p {
  text-align: center;
}
